# Ignore the .env file
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore the data directory content but keep the folder structure if needed
data/*.db
data/*.db-journal
data/*.db-wal
